/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size:32px;
  text-decoration: none;
  background-color: #b8b8b8;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.logo{
  height:45px;
  margin-top:10px;
}
.black{
  height:80px;
}
#logo-container img{
  margin-top: 10%;
}

.header{
  position:relative;
  top:-150px;
  left:20px;
  color:orange;
}
.right a{
  font-size:25px;
  margin-top: 10%;
}
.right a:hover{
  background-color: orange;
  font-weight:bold;
}
.grafico{
  display: flex;
  justify-content: space-between;
  margin-left:  -10%;
  background-color: grey;
}
.grafico1{
  display: flex;
  margin-left: -10%;
  background-color: grey;
}
